@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

* {

    margin: 0;

}

.cont{

    display: flex;

}

.pages {

    width: 100%;

}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
